- 
    var skillsHeader = "#skills";
    var whatCanIDoList = [
        {
            title:"Front-End",
            skillList: [
                "HTML5",
                "CSS3",
                "Bootstrap",
                "JavaScript",
                "jQuery",
                "Gulp",
                "Sass",
                "Pug"
            ]
        },
        {
            title:"Back-End",
            skillList: [
                "JSON",
                "nodeJS",
                "express",
                "mongoDB"
            ]
        },
        {
            title:"Other",
            skillList: [
                "Windows",
                "Ubuntu",
                "Git",
                "Github"
            ]
        }
    ];

#what-I-can-do
.what-I-can-do
    .what-I-can-do__header=skillsHeader
    each whatCanIDo in whatCanIDoList
        .what-I-can-do__title=whatCanIDo.title
        .what-I-can-do__list
            each skill in whatCanIDo.skillList
                .what-I-can-do__skill=skill
            