extends _component/layout/header
block cool-config
    -
        var myTitleForGoogleSearch = "Marco's CV";
        var myDescriptionForGoogleSearch = "This is made using pure HTML5 and CSS3 techniques!";
block awesome-content
    include _component/landing-page/landing-page